/*Estilo pagina completa*/
.general {
    background-color: var(--morado-intermedio);
    color: var(--blanco-primary);
    text-align: center;
    height: calc(100vh - 70px);
    padding-top: 18px;
    padding-left: 25px;
}
.contenedorFrames {
    display: flex;
}
.columnaSemana {
    flex: 0.85;
    display: flex;
    flex-direction: column;
}
.columnaMedio {
    flex: 1.45;
    display: flex;
    flex-direction: column;
}
.columnaRecords {
    flex: 0.7;
    display: flex;
    flex-direction: column;
}
.frameSemana, .framePeso, .frameRecords, .frameDiario{
    margin-right: 20px;
    background-color: var(--blanco-primary);
    color: var(--negro-primary);
    border-radius: 20px;
    padding: 35px 30px;
}
.frameSemana {
    width: 96%;
    height: 850px;
    text-align: left;
}
.framePeso {
    width: 96%;
    height: 56%;
    text-align: center;
}

.frameRecords {
    width: 96%;
    height: 850px;
    text-align: left;
}
.frameDiario {
    width: 96%;
    height: 40%;
    text-align: center;
    margin-top: 30px;
}

/* Variables de color */
:root {
    --azul: rgb(87, 183, 189);
    --blanco-primary: rgb(248, 249, 255);
    --morado-intermedio: rgb(148, 119, 231);
    --negro-primary: rgb(45,45,45);
}