body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(198, 170, 241);
}

.btnSignUp {
    border-radius: 15px;
    color: white;
    background-color: var(--azul);
    border: none;
    box-shadow: 2px 3px 5px rgba(82, 82, 82, 0.377);
}

.Titulo{
    font-size: 40px;
    text-align: center;
    color: white;
}

.TituloContenedor{
    font-size: 35px;
    text-align: center;
    color: black;  
}

.TituloContenedor.semana{
    font-size: 35px;
    text-align: center;
    color: black;  
    margin-bottom: 8%;
}

.subtitulo{
    font-size: 14px;
    text-align: center;
    color: white;
}

.contenedor{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-right: 25px;
    height: 525px;
    width: 25%;
    background-color: white;
    border-radius: 10px;
}

.RutinasDeLaSemana{
    width: 40%;
}

.contenedorPrincipal{
    display: flex;
    justify-content: space-between;
    
}

table{
    border: 2px solid rgb(231, 231, 231);
    
    width: 90%;
    height: 140px;
    margin: auto;
}

th{
    background-color: rgb(238, 238, 238);
    font-size: 15px;
    border: 2px solid rgb(221, 221, 221);
}

td{
    border: 1px solid rgb(223, 223, 223);
}

.tableViernesDomingo{
    margin-top: 20px;
}

.botonRutina {
    background: #7bc1e9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

.recuadro{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    width: 150px;
    margin-top: 30px;
}

.tipoRutina{
    font-size: 20px;
}

.nombreRutina{
    font-size: 15px;
}

.infoRutina{
    font-size: 10px;
}

.form-check-input{
    border: 1px solid rgb(184, 184, 184);
}

.divTuRutinadeLaSemana{
    
}